<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key ="IntervalIntegration" value="10"/>
      <add key ="TrelloKey" value="YOUR_VALUE_HERE"/>
      <add key ="TrelloToken" value="YOUR_VALUE_HERE"/>
    </appSettings>
</configuration>
